body {
  padding: 10px;
  text-align: justify;
}

img.mrakopedia-reader-logo {
  display: block;
  max-width: 100%;
  border-radius: 2px;
  margin: 0 auto;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.page-header {
  text-align: left;
  text-decoration: underline dashed;
}
