div.box,
span.tocnumber,
span.mw-editsection,
div.spoilers-button-container,
div.rating_box,
img {
  display: none;
}

a[href^='http'],
a[href^='\/wiki'] {
  text-decoration: none;
  pointer-events: none;
  color: inherit;
  cursor: text;
}

div.embedvideo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  max-height: 100px;
}

div.embedvideo > iframe {
  visibility: hidden;
}

div.embedvideo::before {
  content: 'Здесь должно быть видео, но оно не поддерживается';
  z-index: 111;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed orange;
}
